.splash {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FCEDFC;
}

.logo {
  animation: fadeOut 1s ease forwards;
  align-items: center;
  justify-content: center;
}

.App {
  background: #FCEDFC;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}